*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: rgb(143, 255, 143);
    color: white;    
}

nav{

    background-color: black;
    height: 8vh;
}

ul{
    display: flex;
    align-items: center;
}

li{
    padding: 9px;
    list-style: none;
}

.brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;

}

/*container*/


.container{
    /* min-height: 65vh; */
    /* height: 70vh; */
    background-color: black;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 70%;
    margin: 23px auto;
    border-radius: 15px;
    padding: 34px;
    background: url('bg.jpg') no-repeat center center/cover;

}

.songitemcontainer{
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.songitem{
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 45px;
   margin: 13px;
   background-color: white;
   border-radius: 15px;
   width: 45%;
   color: black;
}

.songname{
    text-align: center;
}
.songlistplay{
    padding: 3px;
}

.songitem img{
    width: 40px;
    height: 40px;
    margin: 3px;
    border-radius: 20px;
}

.timestamp{
    margin: 0 23px;
    text-align: center;
}

.timestamp i {
    padding: 12px;
    margin-right: 2px;
    cursor: pointer;
    color: red;
}

.brand img{
    width: 40px;
    height: 40px;
    top: 2px;
    padding: 0px 3px;
    
}

.playbutton{
    cursor: pointer;
}

/* bottom*/


.bottom{
    height: 17.7vh;
    background-color: black;
    position: absolute;
    /* bottom: 0px; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#myprogressbar{
    margin-top: 15px;
    width: 80vw;
    height: 9px;
    cursor: pointer;
    
}

.icons{
    /* margin: 10px 0px; */
    height: 10px;
    width: 10px;
    text-align: center;
    display: flex;
    padding: 23px;
}

.icons i{
    cursor: pointer;
}

.songinfo{
    position: absolute;
    left: 20vw;
    top: 8vh;
    margin-top: 5px;
}

.songinfo img{
    width: 35px;
    height: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}